/*Estilos da paxina index.html*/
.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center ;    
}



.container div{
    padding: 30px;
}

.montanha{
    border-radius: 50%;
    width: 400px ;
    height: 400px;
    padding: 30px;
    
}

.justify{
    text-align: justify;
}
#menu li{
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: blueviolet;
}

.tm {
    height: 60px;
    width: 60px;
    padding-right: 30px; 
    padding-left: 30px;
    padding-top: 10px;  
}

.mb-50{
margin-bottom: 50px;
}

body{
    background-color: rgb(219, 214, 191);
}

/*Estilos da paxina contato.html*/

.ml-50{
    margin-left: 50px;
}

.contato{
    margin-bottom: 100px;
}

.contato textarea.assunto{
    background-color:rgb(226, 223, 214);
}

.contato input.campo{
    background-color:rgb(226, 223, 214);
    border-width: 1px;
}
.container-contato{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center ;  
    font-weight: bold;    
}

.container-contato p{
line-height: 5px;
}

